# Creates an GDM user before GDM runs.
# See:
# 	- https://github.com/ublue-os/cinnamon/blob/bf44562ddbed670cdd0d03a45ea08bdb8a6e96a7/system_files/usr/lib/systemd/system/ublue-lightdm-workaround.service#L4
# 	- https://github.com/ublue-os/main/issues/224#issuecomment-1987851271

[Unit]
Description=Create GDM user on system boot
Before=gdm.service

[Service]
Type=oneshot
ExecStart=/usr/etc/gdm/gdm-useradd
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
