# image will be published to ghcr.io/<user>/<name>
name: hyprland-nvidia-gdm
# description will be included in the image's metadata
description: ublue images for wayland compositors

# the base image to build on top of (FROM) and the version tag to use
base-image: ghcr.io/ublue-os/base-nvidia
image-version: 39 # latest is also supported if you want new updates ASAP

# module configuration, executed in order
# you can include multiple instances of the same module
modules:
  - from-file: gdm-packages.yml
  - from-file: common-packages.yml
  - from-file: hyprland-packages.yml
  
  - type: files
    files:
      - hyprland/usr: /usr 
                  

  - from-file: hyprland-scripts.yml   

  - from-file: common-files.yml
  - from-file: common-scripts.yml
  - from-file: gdm-scripts.yml
  - type: signing
  - from-file: gdm-systemd.yml
