#XfceNotifyWindow {
    background-color: #22373f;
    border-radius: 1px;
    border: 1px solid #bc4b4f;
    padding: 20px;
}

#XfceNotifyWindow:hover {
    background-color: shade(#152126, 1.0);
    border: 1px solid #ffffff;
}

#XfceNotifyWindow label,
#XfceNotifyWindow image {
    color: #d3dae3;
}

#XfceNotifyWindow label#summary {
    font-weight: Bold;
}

#XfceNotifyWindow button {
    font-weight: Bold;
    border: 1px solid shade(#22373f, .80);
    box-shadow: none;
    background-image: none;
    background-color: shade(#22373f, 1.2);
    color: #d3dae3;
}

#XfceNotifyWindow button:hover {
    box-shadow: none;
    background-image: none;
    background-color: shade(#273B43, 1.0);
    color: #ffffff;
}

#XfceNotifyWindow progressbar {
    border: 0px solid shade(#ff0000, 1.0);
    border-radius: 0px;
}

#XfceNotifyWindow progressbar progress {
    background-image: none;
    background-color: #bc4b4f;
    border: 0px solid shade(#bc4b4f, 1.0);
    border-radius: 0px;
}

#XfceNotifyWindow progressbar trough {
    background-image: linear-gradient(to bottom,
                                      shade(#808080, 1.0),
                                      shade(#808080, 1.0)
                                      );
    border: 0px solid shade(#ffff00, 1.0);
    border-radius: 0px;
}
